nextflow.enable.moduleBinaries = true

params {
    dremio {
        hostname = 'tlvidreamcord1'
        port = 32010
        scheme = 'grpc+tcp'
        space = 'spectrum'
        table = 'hne_slide_inventory'
    }
    slide_url_column = 'slide_image'
}

aws {
    accessKey = secrets.LARGE_ACCESS_KEY
    secretKey = secrets.LARGE_SECRET_KEY
    client {
        endpoint = "https://pllimsksparky3:9006"
        s3PathStyleAccess = true
    }
}

azure {
    storage {
        accountName = "nextflowtest"
        accountKey = secrets.AZURE_STORAGE_KEY
    }
    batch {
        location = 'eastus2'
        accountName = 'ocra'
        accountKey = secrets.AZURE_BATCH_KEY
        autoPoolMode = true
        allowPoolCreation = true
        deletePoolsOnCompletion = true
        pools {
            auto {
                autoScale = true
                vmType = 'Standard_NC6s_v3'
                vmCount = 5
                maxVmCount = 10
            }
        }
    }
}

profiles {
    standard {
        memory = 12.GB

        conda.enabled = true

        process {
            executor = 'local'

            withLabel: parallelTask {
                cpus = 16
            }
        }
    }

    conda {
        conda.enabled = true
    }

    cluster {
        process {
            executor = 'condor'

            memory = 12.GB

            withLabel: parallelTask {
                cpus = 16
            }

            withLabel: localTask {
                executor = 'local'
            }

        }
    }

    cloud {
        process {
            executor = 'azurebatch'
            containerOptions = "--user=root --ipc=host"

            memory = 16.GB

            withLabel: parallelTask {
                cpus = 6
            }
            withLabel: localTask {
                executor = 'local'
            }
        }
    }
}

